@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #5f5449;
  color: #ddd4cc;
  font-family: "Noto Serif TC", "Lato", serif, sans-serif;
  font-size: 14px;
  line-height: 16px;
  min-width: 320px;
  /*overflow: hidden;*/
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: #ddd4cc;
}

a,
a:hover,
a:focus,
button:hover,
button:focus {
  outline: 0 none !important;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #ddd4cc;
}

ul {
  margin: 0;
  padding: 0;
}

#page {
  overflow: hidden;
}

.remove-padd {
  padding-left: 0;
  padding-right: 0;
}

.offspace-15 {
  margin-top: 15px;
}

.offspace-45 {
  margin-top: 45px;
}

/*top header*/
header.header-container {
  height: 100vh;
}

#myCarousel1 {
  height: 100%;
}

#myCarousel1 .carousel-inner {
  height: 100%;
}

#myCarousel1 .item {
  height: 100%;
}

#myCarousel1 .item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.top-header {
  background: #000 none repeat scroll 0 0;
  padding: 12px 0;
}

.social-grid li a {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.social-grid li a:hover {
  color: #ddd4cc;
}

.social-grid li + li {
  margin-left: 25px;
}

.info-block {
  color: #fff;
}

.info-block .fa {
  margin-right: 15px;
}

/*navbar*/
.navbar-default {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.navbar {
  margin-top: -60px;
}

.nav1 {
  text-align: right;
}

.navigation .nav1 li {
  display: inline;
  position: relative;
}

/*carousel*/
#myCarousel1 .carousel-caption {
  bottom: auto;
  left: 50%;
  position: absolute;
  right: auto;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 200px;
  height: 200px;
  background-color: #ccccccaa;
  border-radius: 40% 60% 37% 63% / 50% 40% 60% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#myCarousel1 .carousel-caption img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.middleLine {
  width: 100%;
  background-color: #cccccc;
  height: 15px;
}

/*common*/
.service-block,
.gallery-block,
.vacation-offer-block,
.resort-overview-block,
.blog-block,
.blog-block-slider,
.about-block,
.contact-block,
.blog {
  padding: 70px 0 0 0;
}

/*social link*/
.social-grid ul li {
  display: inline;
}

.top-row {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 12px 50px;
  transition: 0.2s all linear;
}

.top-row.scrolled {
  background-color: #5f5449dd;
}

.top-row .row {
  display: flex;
  align-items: center;
}

.top-row #logo a {
  background-color: #cccccc;
  width: 90px;
  height: 90px;
  display: block;
  border-radius: 40% 60% 37% 63% / 50% 40% 60% 50%;
  transition: 0.2s all linear;
}

.top-row.scrolled #logo a {
  width: 60px;
  height: 60px;
}

.top-row.scrolled .navbar {
  margin-top: -45px;
  margin-bottom: 0;
}

.top-row #logo img {
  width: 100%;
}

.cl-effect-10 a::before,
.cl-effect-10 a.active::before {
  background: #f2f2f2;
  color: #5f5449;
  content: attr(data-hover);
  height: 100%;
  left: 0;
  padding: 10px 15px;
  position: absolute;
  top: 0;
  transition: transform 0.3s ease 0s;
  width: 100%;
  z-index: -1;
}

.cl-effect-10 a.book-now-btn::before {
  margin-left: 20px;
}

.cl-effect-10 a.active::before {
  z-index: 1;
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
  transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
  transform: translateX(0%);
}

.cl-effect-10 a.active {
  color: #fff;
}

.cl-effect-10 {
  position: relative;
  z-index: 1;
}

.cl-effect-10 a {
  overflow: hidden;
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  /*margin: 15px 25px;*/
  outline: none;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.cl-effect-10 a span {
  background: #cccccc none repeat scroll 0 0;
  color: #1f1f1f;
  font-weight: 600;
  display: block;
  padding: 10px 15px;
  transition: transform 0.3s ease 0s;
}

.cl-effect-10 a.book-now-btn span {
  background: #5f5449 none repeat scroll 0 0;
  color: #f2f2f2;
  margin-left: 20px;
}

.top-row.scrolled .cl-effect-10 a.book-now-btn span {
  background: #cccccc none repeat scroll 0 0;
  color: #1f1f1f;
}

/*navbar toggle*/
.navbar-toggle {
  background: #5f5449;
  border: medium none;
  border-radius: 0;
  transition: 0.2s all linear;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background: #cccccc !important;
}

.navbar-toggle .icon-bar {
  background-color: #f2f2f2;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: #1f1f1f;
}

.top-row.scrolled .navbar-toggle {
  background: #cccccc;
}

.top-row.scrolled .navbar-toggle:hover,
.top-row.scrolled .navbar-toggle:focus {
  background: #5f5449 !important;
}

.top-row.scrolled .navbar-toggle .icon-bar {
  background-color: #1f1f1f;
}

.top-row.scrolled .navbar-toggle:hover .icon-bar,
.top-row.scrolled .navbar-toggle:hover .icon-bar {
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .top-row {
    padding: 8px 20px;
  }

  .top-row #logo a {
    width: 60px;
    height: 60px;
  }

  .top-row.scrolled #logo a {
    width: 50px;
    height: 50px;
  }

  .top-row .navbar {
    margin-top: -55px;
  }

  .top-row.scrolled .navbar {
    margin-top: -50px;
  }
}

/*service block*/
.service-image {
  border: 2px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  padding: 35px;
  background: #ddd;
}

.service-details h4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 55px;
  text-transform: uppercase;
}

.gallery-front .gallery-image {
  position: relative;
  max-width: 263px;
  margin-right: auto;
  margin-left: auto;
}

.instagram-images .gallery-image {
  max-width: 171px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.gallery-image .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all 0.4s ease-in-out 0s;
  width: 100%;
}

.gallery-image:hover .overlay {
  opacity: 1;
}

.gallery-image:hover p {
  bottom: 50px;
}

.overlay .info > i {
  color: #fff;
  font-size: 25px;
}

/*.gallery-image a.info {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    letter-spacing: 5px;
    opacity: 1;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
}*/
.gallery-image img {
  margin-left: auto;
  margin-right: auto;
}

.gallery-image a.info {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  left: 50%;
  letter-spacing: 5px;
  opacity: 1;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out 0s;
}

.gallery-image a.info:hover,
.gallery-image a.info > i:hover {
  color: #e01931;
}

.overlay p {
  bottom: 0;
  font-size: 17px;
  font-weight: 600;
  left: 25%;
  letter-spacing: 2px;
  position: absolute;
  text-transform: uppercase;
  transition: bottom 0.9s ease 0s;
}

.overlay p a {
  color: #fff;
}

.overlay p a:hover {
  color: #ddd4cc;
}

.vacation-offer-bgbanner {
  background: rgba(0, 0, 0, 0) url("../images/vacation-banner.png") no-repeat
    scroll center center / cover;
  color: #fff;
  position: relative;
  padding: 65px;
}

.vacation-offer-bgbanner::before {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  display: block;
  height: 100%;
  left: -50%;
  position: absolute;
  top: 0;
  transform: skewX(-30deg);
  width: 100%;
}

.vacation-offer-details > h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.vacation-offer-details .btn.btn-default {
  background: #ddd4cc none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 35px;
  padding: 8px 12px;
  text-shadow: 0 0 0;
  text-transform: capitalize;
}

.side-A {
  float: left;
  width: 50%;
}

.side-B {
  float: right;
  width: 50%;
}

.image img {
  margin-left: auto;
  margin-right: auto;
}

.product-desc-side {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.product-desc-side h3 {
  border-bottom: 1px dashed #ddd;
  font-weight: 600;
  letter-spacing: 2px;
  padding-bottom: 10px;
  position: relative;
  text-transform: uppercase;
}

.product-desc-side h3::before {
  background: #cccccc;
  bottom: -1px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
  transition: width 0.9s;
}

.product-desc-side:hover h3:before {
  width: 100%;
}

.product-desc-side > p {
  margin: 22px 0;
}

.links > a,
.event-blog-details a.btn-default {
  border: 1px solid;
  display: inline-block;
  padding: 6px 8px;
  text-transform: uppercase;
  border-radius: 0;
}

.links > a:hover,
.event-blog-details a.btn-default:hover {
  background: #ddd4cc;
  border-color: #ddd4cc;
  color: #fff;
}

.side-A .product-desc-side {
  padding: 0;
}

/*blog event block*/
.event-blog-details > h4 {
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.event-blog-details > p {
  font-size: 14.5px;
  letter-spacing: 1px;
  line-height: 23px;
  margin: 26px 0;
}

.event-blog-details h5 {
  color: #000;
  font-size: 14.5px;
  letter-spacing: 1px;
}

.event-blog-details h5 > a {
  margin-left: 5px;
}

.event-blog-details h5 a i {
  margin: 0 10px;
}

/*footer*/
footer {
  background: #aaa none repeat scroll 0 0;
  color: #1f1f1f !important;
  margin-top: 70px;
  padding: 20px 0;
}

footer a {
  color: #1f1f1f !important;
}

#subscribe {
  margin-top: 40px;
}

#subscribe input {
  border: 1px solid;
  border-radius: 0;
  border-right: 0;
  box-shadow: none;
}

.btn.subscribe-button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-color: #333;
  border-image: none;
  border-radius: 0;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
  color: #ddd4cc;
  background: #fff;
}

/*blog slider*/
.blog-box {
  background: #000 none repeat scroll 0 0;
  color: #fff;
  padding: 45px 110px;
  border-radius: 15px 15px 0 0;
}

.blog-box p::before {
  content: url("../images/icons/left-quotes-sign.png");
  left: 0;
  position: absolute;
  top: 0;
}

.blog-box p::after {
  content: url("../images/icons/left-quotes-sign.png");
  right: 0;
  position: absolute;
  bottom: 0;
  transform: scaleX(-1);
}

.blog-box > p {
  padding: 0 40px;
  position: relative;
}

.blog-box > p {
  font-size: 18px;
  font-style: italic;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 0 40px;
  position: relative;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blog-view-box {
  background: #ddd4cc none repeat scroll 0 0;
  border-radius: 15px;
  color: #fff;
  margin-top: -15px;
  padding: 15px 110px;
}

.blog-view-box .media-body {
  vertical-align: middle;
}

.blog-view-box .media-body h3 {
  font-weight: 600;
  letter-spacing: 1px;
}

.blog-rev {
  font-size: 15px;
  letter-spacing: 1px;
}

/*carousel*/
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.carousel-control {
  opacity: 1;
}

#myCarousel2 .carousel-indicators li {
  background-color: #000;
  border: 1px solid #000;
  width: 140px;
}

#myCarousel2 .carousel-indicators .active {
  background-color: #ddd4cc;
  border-color: #ddd4cc;
  width: 140px;
}

#myCarousel2 .carousel-indicators {
  bottom: -55px;
}

#myCarousel2 .carousel-indicators li + li {
  margin-left: 15px;
}

.carousel-control {
  top: 50%;
}

.carousel-control:focus,
.carousel-control:hover {
  opacity: 1;
}

#myCarousel1 .carousel-indicators .active {
  background: #ddd4cc;
  border-color: #ddd4cc;
}

/*back to top*/
#back-to-top {
  background: #cccccc;
  bottom: 40px;
  color: #1f1f1f;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 9999;
  font-weight: 600;
  letter-spacing: 1px;
}

#back-to-top:hover {
  background: #333;
  color: #f2f2f2;
}

#back-to-top > span {
  display: block;
}

/*copyright*/
.copyright {
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 10px;
  text-align: center;
}

.copyright > a {
  color: #ddd4cc;
  font-weight: 600;
  font-size: 18px;
}

.copyright > a:hover {
  color: #fff;
}

/*rooms page*/
.bg-set-col {
  background: rgba(0, 0, 0, 0.25);
  padding: 50px 0;
}

/*about page*/
.about-left p {
  color: #000000;
  font-size: 45px;
  font-weight: 100;
  line-height: 40px;
  text-transform: uppercase;
  width: 76%;
}

.about-right h3 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.about-right > p {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 22px;
  margin-bottom: 15px;
}

.about-right li {
  position: relative;
  font-size: 14.8px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 15px;
}

.about-right li:before {
  content: "ï„…";
  position: absolute;
  left: 0;
  top: 0;
  font-family: "fontawesome";
  color: #ddd4cc;
  font-weight: 600;
}

.about-right span {
  color: #000;
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
}

/*contact*/
/*contact*/
.contact-left-block > h3,
.contact-form > h3 {
  color: #ddd;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.contact-left-block > h3 > span,
.contact-form > h3 > span {
  color: #ddd4cc;
}

.contact-left-block > p {
  color: #ddd;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-left-block > p i {
  background: #ddd none repeat scroll 0 0;
  border-radius: 50%;
  color: #1f1f1f;
  height: 30px;
  line-height: 28px;
  text-align: center;
  width: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form form {
  margin-top: 15px;
}

.contact-form form .form-control {
  margin-bottom: 15px;
}

.form-control {
  border-radius: 0;
}

.submit-btn,
.read-more-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 15px;
  padding: 6px 15px;
  text-transform: uppercase;
}

.submit-btn:hover,
.read-more-btn:hover {
  background: #ddd4cc;
  border-color: #ddd4cc;
  color: #fff;
}

.contact-form form textarea {
  min-height: 140px;
}

.offspace-70 {
  margin-top: 70px;
}

.hover-effect .gallery-image-list:hover img,
.hover-effect .grid-item:hover img {
  animation: 1.5s ease 0s normal none 1 running flash;
  opacity: 0.6;
}

/*dinning*/
.blog-title-head {
  font-size: 25px;
  letter-spacing: 2px;
  margin: 0px 0 15px 0;
}

.blog-title-head > a {
  color: #000;
}

.blog-title-head > a:hover {
}

.blog-date {
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0;
}

.blog-desc {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 30px;
  margin: 40px 0;
  text-align: justify;
}

.user-info {
  margin-bottom: 15px;
}

.user-info > a {
  color: #ddd4cc;
}

.user-info > a:hover {
  color: #333;
}

.comment-form input,
.comment-form textArea {
  margin-top: 15px;
}

.comment-form textArea {
  height: 140px;
}

.blog-list h4,
.blog-list1 h4 {
  border-bottom: 2px solid #ddd4cc;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 25px;
  margin-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.blog-list ul li {
  border-bottom: 1px dashed #ddd;
  list-style: outside none none;
}

.blog-list li a {
  display: block;
  font-size: 14px;
  margin: 12px 0;
}

.blog-list li i {
  margin-right: 5px;
}

.blog-text p {
  margin-top: 15px;
}

.blog-text .link {
  font-size: 12.5px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.offspace-30 {
  margin-top: 30px;
}

/*single page image*/
.image-head-wrapper {
  background: rgba(0, 0, 0, 0) url("../images/inner-banner.png") no-repeat
    scroll center top;
  height: 450px;
  position: relative;
}

.inner-wrapper {
  color: #fff;
  left: 70%;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-70%, -70%);
  width: 60%;
}

.inner-wrapper h1 {
  font-family: "exotc350_dmbd_btdemi-bold";
}

.animated.flipInX {
  display: block;
  position: relative;
}

#instafeed > div:nth-last-child(-n + 3) {
  margin-top: 15px;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio #portfolio-flters {
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  width: 100px;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin: 5px 2px;
  transition: all ease-in-out 0.3s;
  color: #1f1f1f;
  background-color: #ccc;
  position: relative;
  text-align: center;
}

.portfolio #portfolio-flters li.filter-active,
.portfolio #portfolio-flters li:hover {
  color: #f2f2f2;
  background-color: #333;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 10px;
  overflow: hidden;
}

.portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

.portfolio .portfolio-item:hover img {
  top: -30px;
}

.portfolio2 #portfolio-flters2 {
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.portfolio2 #portfolio-flters2 li {
  width: 100px;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin: 5px 2px;
  transition: all ease-in-out 0.3s;
  color: #1f1f1f;
  background-color: #ccc;
  position: relative;
  text-align: center;
}

.portfolio2 #portfolio-flters2 li.filter-active,
.portfolio2 #portfolio-flters2 li:hover {
  color: #f2f2f2;
  background-color: #333;
}

.portfolio2 #portfolio-flters2 li:last-child {
  margin-right: 0;
}

.portfolio2 .portfolio-item2 {
  margin-bottom: 10px;
  overflow: hidden;
}

.portfolio2 .portfolio-item2 img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

.portfolio2 .portfolio-item2:hover img {
  top: -30px;
}

.d-block {
  display: block;
}

.envIntro {
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: 0.8px;
  margin: 0 20px 30px;
}

.reservationBtn {
  color: #f2f2f2;
  background-color: #333;
  border: 0;
  padding: 15px 20px;
  width: 100%;
  margin: 20px 0;
  transition: 0.2s all linear;
  font-size: 1.5rem;
  font-weight: bold;
}

.reservationBtn:hover {
  transform: scale(1.03);
}
